<!DOCTYPE html>
<html>
    <head>
        <link href="content/main.css" rel="stylesheet" type="text/css">
    </head>
    
    
    <body>
        <form action="submitFeedback" method="POST">
            <div class="container">
                <div class="heading"><h3>Enter feedback</h3></div>
                <input type="hidden" name= "email" value="<%= customer.email %>" />
                <table>
                    <tr><td>First Name: </td><td><%= customer.firstName %></td></tr>
                    <tr><td>Last Name: </td><td><%= customer.lastName %></td></tr>
                    <tr><td>Email: </td><td><%= customer.email %></td></tr>
                    <tr><td>Gender: </td><td><%= customer.gender %></td></tr>
                    <tr><td>Contact: </td><td><%= customer.contactNum %></td></tr>
                    <tr><td>Comments: </td><td><textarea name="feedBack" style="width: 170px; height:100px"></textarea></td></tr>                    
                </table>
                <div class= "btnDiv"><input type="Submit" value="Submit Feedback" class = "button"/></div>
        </div>
        </form>
       
    </body>
</html>